## Import Necessary Libraries

In [75]:
# For Data Processing
import numpy as np
import pandas as pd

#for saving to dataset folder
import os

---
### Import Dataset

### Brief Explanation of the dataset's abbreviated variables
Attributes related with Eating Habits: <br>
FAVC: Frequent consumption of high caloric food <br>
FCVC: Frequency of consumption of vegetables <br>
NCP: Number of main meals<br>
CAEC: Consumption of food between meals<br>
CH20: Consumption of water daily<br>
CALC: Consumption of alcohol<br>

Attributes related with the Physical Conditions: <br>
SCC: Calories consumption monitoring <br>
FAF: Physical activity frequency<br>
TUE: Time using technology devices <br>
MTRANS: Transportation used<br>

Class variable NObeyesdad was created based on Equation (Mass Body Index = Weight/height*height) with the values of: <br> Insufficient Weight, Normal Weight, Overweight Level I, Overweight Level II, Obesity Type I, Obesity Type II and Obesity Type III,

In [77]:
# The DataFrame is large thus it will only return the first 5 row
df = pd.read_csv('datasets/ObesityDataSet_raw_and_data_sinthetic.csv')
df.head()

   Gender   Age  Height  Weight family_history_with_overweight FAVC  FCVC  NCP    CAEC    SMOKE  CH2O SCC   FAF  TUE     CALC            MTRANS              NObeyesdad
0  Female  21.0   1.62    64.0                yes               no    2.0  3.0  Sometimes    no   2.0   no  0.0  1.0          no  Public_Transportation        Normal_Weight
1  Female  21.0   1.52    56.0                yes               no    3.0  3.0  Sometimes   yes   3.0  yes  3.0  0.0   Sometimes  Public_Transportation        Normal_Weight
2    Male  23.0   1.80    77.0                yes               no    2.0  3.0  Sometimes    no   2.0   no  2.0  1.0  Frequently  Public_Transportation        Normal_Weight
3    Male  27.0   1.80    87.0                 no               no    3.0  3.0  Sometimes    no   2.0   no  2.0  0.0  Frequently                Walking   Overweight_Level_I
4    Male  22.0   1.78    89.8                 no               no    2.0  1.0  Sometimes    no   2.0   no  0.0  0.0   Sometimes  Public_Transportation  Overweight_Level_II

In [58]:
# displaying the whole DF
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
#pd.set_option('display.width', 1000)
#pd.set_option('display.colheader_justify', 'center')
#pd.set_option('display.precision', 2)
#display(df)

In [4]:
df.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

In [5]:
print(df.dtypes)

Gender                             object
Age                               float64
Height                            float64
Weight                            float64
family_history_with_overweight     object
FAVC                               object
FCVC                              float64
NCP                               float64
CAEC                               object
SMOKE                              object
CH2O                              float64
SCC                                object
FAF                               float64
TUE                               float64
CALC                               object
MTRANS                             object
NObeyesdad                         object
dtype: object

### Cleaning of data

In [6]:
#Extracting the variables with type Object from the df
df_object = pd.DataFrame(df[['Gender', 'family_history_with_overweight','FAVC', 'CAEC', 'SMOKE', 'SCC', 'CALC', 'MTRANS'
                         ,'NObeyesdad']])
df_object.head()

,Gender,family_history_with_overweight,FAVC,CAEC,SMOKE,SCC,CALC,MTRANS,NObeyesdad
0,Female,yes,no,Sometimes,no,no,no,Public_Transportation,Normal_Weight
1,Female,yes,no,Sometimes,yes,yes,Sometimes,Public_Transportation,Normal_Weight
2,Male,yes,no,Sometimes,no,no,Frequently,Public_Transportation,Normal_Weight
3,Male,no,no,Sometimes,no,no,Frequently,Walking,Overweight_Level_I
4,Male,no,no,Sometimes,no,no,Sometimes,Public_Transportation,Overweight_Level_II

In [19]:
#Convert the variable types from object to category
df_cat = df_object.astype("category")

df_cat.describe()

,Gender,family_history_with_overweight,FAVC,CAEC,SMOKE,SCC,CALC,MTRANS,NObeyesdad
count,2111,2111,2111,2111,2111,2111,2111,2111,2111
unique,2,2,2,4,2,2,4,5,7
top,Male,yes,yes,Sometimes,no,no,Sometimes,Public_Transportation,Obesity_Type_I
freq,1068,1726,1866,1765,2067,2015,1401,1580,351

In [8]:
df.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [9]:
#Extracting the numeric variables from the original df
df_numeric = df.drop(labels = ['Gender', 'family_history_with_overweight','FAVC', 'CAEC', 'SMOKE', 'SCC', 'CALC', 'MTRANS'
                         ,'NObeyesdad'], axis = 1)

In [10]:
print(df_numeric.dtypes)
print(df_numeric.head())

Age       float64
Height    float64
Weight    float64
FCVC      float64
NCP       float64
CH2O      float64
FAF       float64
TUE       float64
dtype: object
    Age  Height  Weight  FCVC  NCP  CH2O  FAF  TUE
0  21.0    1.62    64.0   2.0  3.0   2.0  0.0  1.0
1  21.0    1.52    56.0   3.0  3.0   3.0  3.0  0.0
2  23.0    1.80    77.0   2.0  3.0   2.0  2.0  1.0
3  27.0    1.80    87.0   3.0  3.0   2.0  2.0  0.0
4  22.0    1.78    89.8   2.0  1.0   2.0  0.0  0.0

In [82]:
#Joining both numeric and categorical variables into one dataframe called 'df_catData'
#Basically the same as the original df, just that object is converted to categorical
df_catData = df_numeric.join(df_cat)
df_catData.head()

    Age  Height  Weight  FCVC  NCP  CH2O  FAF  TUE  Gender family_history_with_overweight FAVC    CAEC    SMOKE SCC      CALC            MTRANS              NObeyesdad
0  21.0   1.62    64.0    2.0  3.0   2.0  0.0  1.0  Female               yes               no   Sometimes    no   no          no  Public_Transportation        Normal_Weight
1  21.0   1.52    56.0    3.0  3.0   3.0  3.0  0.0  Female               yes               no   Sometimes   yes  yes   Sometimes  Public_Transportation        Normal_Weight
2  23.0   1.80    77.0    2.0  3.0   2.0  2.0  1.0    Male               yes               no   Sometimes    no   no  Frequently  Public_Transportation        Normal_Weight
3  27.0   1.80    87.0    3.0  3.0   2.0  2.0  0.0    Male                no               no   Sometimes    no   no  Frequently                Walking   Overweight_Level_I
4  22.0   1.78    89.8    2.0  1.0   2.0  0.0  0.0    Male                no               no   Sometimes    no   no   Sometimes  Public_Transportation  Overweight_Level_II

In [21]:
print(df_catData.dtypes)

Age                                float64
Height                             float64
Weight                             float64
FCVC                               float64
NCP                                float64
CH2O                               float64
FAF                                float64
TUE                                float64
Gender                            category
family_history_with_overweight    category
FAVC                              category
CAEC                              category
SMOKE                             category
SCC                               category
CALC                              category
MTRANS                            category
NObeyesdad                        category
dtype: object

In [23]:
count_nan_in_df = df_catData.isnull().sum().sum()
print("Count of Nan: " + str(count_nan_in_df))

Count of Nan: 0

#### DF with only the needed attributes

#### Attributes related with Eating Habits: <br>
FAVC: Frequent consumption of high caloric food <br>
FCVC: Frequency of consumption of vegetables <br>
NCP: Number of main meals<br>
CAEC: Consumption of food between meals<br>
CH20: Consumption of water daily<br>
CALC: Consumption of alcohol<br>

In [39]:
df_obesityVars = df_catData[['FAVC', 'FCVC', 'NCP', 'CAEC','CH2O','CALC']]
print(df_obesityVars)

     FAVC  FCVC  NCP       CAEC      CH2O        CALC
0      no   2.0  3.0  Sometimes  2.000000          no
1      no   3.0  3.0  Sometimes  3.000000   Sometimes
2      no   2.0  3.0  Sometimes  2.000000  Frequently
3      no   3.0  3.0  Sometimes  2.000000  Frequently
4      no   2.0  1.0  Sometimes  2.000000   Sometimes
...   ...   ...  ...        ...       ...         ...
2106  yes   3.0  3.0  Sometimes  1.728139   Sometimes
2107  yes   3.0  3.0  Sometimes  2.005130   Sometimes
2108  yes   3.0  3.0  Sometimes  2.054193   Sometimes
2109  yes   3.0  3.0  Sometimes  2.852339   Sometimes
2110  yes   3.0  3.0  Sometimes  2.863513   Sometimes

[2111 rows x 6 columns]

In [33]:
df_obesityVars.dtypes

FAVC    category
FCVC     float64
NCP      float64
CAEC    category
CH2O     float64
CALC    category
dtype: object

In [32]:
#df for only int vals
df_obesityVars_int = df_obesityVars.loc[:, df_obesityVars.dtypes == np.float64]
print(df_obesityVars_int)

      FCVC  NCP      CH2O
0      2.0  3.0  2.000000
1      3.0  3.0  3.000000
2      2.0  3.0  2.000000
3      3.0  3.0  2.000000
4      2.0  1.0  2.000000
...    ...  ...       ...
2106   3.0  3.0  1.728139
2107   3.0  3.0  2.005130
2108   3.0  3.0  2.054193
2109   3.0  3.0  2.852339
2110   3.0  3.0  2.863513

[2111 rows x 3 columns]

In [35]:
#df for only categorical vals
df_obesityVars_cat = df_obesityVars.loc[:, df_obesityVars.dtypes == 'category']
print(df_obesityVars_cat)

     FAVC       CAEC        CALC
0      no  Sometimes          no
1      no  Sometimes   Sometimes
2      no  Sometimes  Frequently
3      no  Sometimes  Frequently
4      no  Sometimes   Sometimes
...   ...        ...         ...
2106  yes  Sometimes   Sometimes
2107  yes  Sometimes   Sometimes
2108  yes  Sometimes   Sometimes
2109  yes  Sometimes   Sometimes
2110  yes  Sometimes   Sometimes

[2111 rows x 3 columns]

In [47]:
print(df_obesityVars_cat[col])

0        no
1        no
2        no
3        no
4        no
       ...
2106    yes
2107    yes
2108    yes
2109    yes
2110    yes
Name: FAVC, Length: 2111, dtype: category
Categories (2, object): ['no', 'yes']

In [50]:
#print the unique vals of cat df to ensure there is no "NAN" values
for col in df_obesityVars_cat.select_dtypes(include='category'):
    print(col, df_obesityVars_cat[col].unique())

FAVC ['no', 'yes']
Categories (2, object): ['no', 'yes']
CAEC ['Sometimes', 'Frequently', 'Always', 'no']
Categories (4, object): ['Always', 'Frequently', 'Sometimes', 'no']
CALC ['no', 'Sometimes', 'Frequently', 'Always']
Categories (4, object): ['Always', 'Frequently', 'Sometimes', 'no']

### Export all df to csv 
this is to ensure that the df can be accessed in other notebooks

In [94]:
#reusable function to save df to csv so that the df can be accessable to all notebooks
def save_csv(df, folder_path ,file_name ):
    file_path = os.path.join(folder_path, file_name)
    df.to_csv(file_path, index=False)
    print(f"Successfully saved df {file_name} to {folder_path}")

In [95]:
#uploaded of df to csv
#catData = original dataset [the change from dtype -> object to cat]
#obesityVars = df with only the needed attributes
save_csv(df_catData,'datasets', 'original_eating_habits_data.csv')
save_csv(df_obesityVars,'datasets', 'cleaned_eating_habits_data.csv')
save_csv(df_obesityVars_cat,'datasets', 'cat_eating_habits_data.csv')
save_csv(df_obesityVars_int,'datasets', 'int64_eating_habits_data.csv')

Successfully saved df original_eating_habits_data.csv to datasets
Successfully saved df cleaned_eating_habits_data.csv to datasets
Successfully saved df cat_eating_habits_data.csv to datasets
Successfully saved df int64_eating_habits_data.csv to datasets